* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: white;
    border-bottom: 2px #f5f5f6 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myntra_home {
    width: 53px;
    height: 36px;
}

.logo_container {
    margin-left: 4%;
}

.action_bar {
    margin-right: 4%;
}

.nav_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 500px;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #282c3f;
    padding: 28px 0;
    border-bottom: 4px white solid;
}

#nav1:hover {
    border-bottom: 4px red solid;
}

#nav2:hover {
    border-bottom: 4px violet solid;
}

#nav3:hover {
    border-bottom: 4px orange solid;
}

#nav4:hover {
    border-bottom: 4px gold solid;
}

#nav5:hover {
    border-bottom: 4px cornflowerblue solid;
}

#nav6:hover {
    border-bottom: 4px cornflowerblue solid;
}

#nav7:hover {
    border-bottom: 4px red solid;
}

#nav_new {
    color: #ff3fc6;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

#search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    border-radius: 5px 0 0 5px;
}

#search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 0 5px 5px 0;
}

#search_input:focus {
    outline: none;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.action_icon {
    color: red;
}

.banner {
    margin-top: 20px;
}

#banner_image {
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
}

.footer_container {
    /* top and bottom */
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10% 1% 10%;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_head {
    color: #282c3f;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

#app_links {
    display: flex;
    justify-content: space-between;
}

#app_links img {
    height: 42px;
}

#copyright {
    color: #94969f;
    text-align: center;
    padding: 8px;
    background-color: #fafbfc;
}

#social_links {
    display: flex;

}

#social_links a {
    font-size: 30px;
}

.promises {
    display: flex;
    color: #696b79;
    margin-top: 30px;
    margin-bottom: 15px;
}

.promises img {
    height: 40px;
    margin-right: 10px;
}

/* START FUNCTIONAL MYNTRA */

.items-container {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.item-container {
    width: 250px;
}

.item-image {
    width: 100%;
    border: 2px red solid;
}

.rating {
    font-weight: bold;
}

.company-name {
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #282c3f;
    overflow: hidden;
    white-space: nowrap;
}

.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}

.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
    white-space: nowrap;
}

.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px; 
}

.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.btn-add-bag {
    margin-top: 10px;
    color: #f5f5f6;
    background-color: rgb(11, 160, 51);
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.btn-add-bag:hover{
    background-color: rgba(24, 166, 24, 0.8);
}

.bag-item-count {
    position: relative;
    left: 13px;
    top: -44px;
    height: 18px;
    min-width: 18px;
    padding: 0 4px;
    border-radius: 10px;
    background-color: #f16565;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
}