* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: white;
    border-bottom: 2px #f5f5f6 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myntra_home {
    width: 53px;
    height: 36px;
}

.logo_container {
    margin-left: 4%;
}

.action_bar {
    margin-right: 4%;
}

.nav_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 500px;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #282c3f;
    padding: 28px 0;
    border-bottom: 4px white solid;
}

#nav1:hover {
    border-bottom: 4px red solid;
}

#nav2:hover {
    border-bottom: 4px violet solid;
}

#nav3:hover {
    border-bottom: 4px orange solid;
}

#nav4:hover {
    border-bottom: 4px gold solid;
}

#nav5:hover {
    border-bottom: 4px cornflowerblue solid;
}

#nav6:hover {
    border-bottom: 4px cornflowerblue solid;
}

#nav7:hover {
    border-bottom: 4px red solid;
}

#nav_new {
    color: #ff3fc6;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

#search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    border-radius: 5px 0 0 5px;
}

#search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 0 5px 5px 0;
}

#search_input:focus {
    outline: none;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.action_icon {
    color: red;
}

.banner {
    margin-top: 20px;
}

#banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    font-weight: 700;
    color: #3e4152;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer_container {
    padding: 30px 0 40px 0;
    /* top and bottom */
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10% 5% 10%;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_head {
    color: #282c3f;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

#app_links {
    display: flex;
    justify-content: space-between;
}

#app_links img {
    height: 42px;
}

#copyright {
    color: #94969f;
    text-align: end;
    padding: 15px;
    background-color: #fafbfc;
}

#social_links {
    display: flex;

}

#social_links a {
    font-size: 30px;
}

.promises {
    display: flex;
    color: #696b79;
    margin-top: 30px;
    margin-bottom: 15px;
}

.promises img {
    height: 40px;
    margin-right: 10px;
}